@import "../../../../styles/constants.scss";

.wrapper {
    background: $tertiary;
    overflow: hidden;

    .container {
        flex-direction: column;
        gap: 2rem;

        .heading{
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;

            p{
                color: $link_color;
            }

            >:nth-child(2){
                text-decoration: underline;
                color: $link_color;
                cursor: pointer;
            }
        }

        .showCase{
            width: 100%;
            gap: 1.5rem;
            justify-content: space-around;
            flex-wrap: wrap;
            
            a{
                text-decoration: none;
                gap: 2rem;
                
                >img {
                    @media (max-width: $sm),(max-width: $md){
                        width: 100%;
                    }
                    margin: 0.5rem;
                    transition: transform 0.3s ease;
                    width: 25rem;
                    height: 18rem;
                    border-radius: 20px;
                    box-shadow: 0px 21px 13px rgba(0, 0, 0, 30%);
                    
                    &:hover{
                        cursor: pointer;
                        box-shadow: 0px 21px 21px rgba(0, 0, 0, 50%);
                    }
                    
                    
                }
            }
            
           
        }
    }
}